<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">
      I am a <em>junior Mobile app Developer</em> enthusiastic about learning something new. 
      I love to sing but if you wanna hear it, you gotta take me to the New York Times Square.
    </p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/jenipharachel">
        <%= fa_icon "github" %></a>
      </li>
      <li><a href="https://twitter.com/jenipharachel">
        <%= fa_icon "twitter" %></a>
      </li>
      <li><a href="https://www.linkedin.com/in/jenipha-rachel-26b23451">
        <%= fa_icon "linkedin" %></a>
      </li>
    </ol>
  </div>
</aside>