<main role="main" class="inner cover">
  <h1 class="cover-heading">Hey, there!</h1>
  <p class="lead">I am a junior Mobile app developer figuring out her place in Software Development. I am currently learning how data is stored and managed in the Backend through Ruby on Rails(exciting). I enjoy finding solutions for real-life problems and love a good binge watch.</p>
  <p class="lead"> Suggest me your favorite in the comments section.</p>
</main>
